<section class="card-possibility py-10 px-4 max-w-7xl w-full m-auto">
  <h1
    class="mb-8 lg:mb-16 text-primary text-2xl md:text-[32px] lg:text-[40px] font-BinancePlexSemiBold"
  >
    Explora un sinfín de posibilidades con Binance
  </h1>
  <div class="lg:grid lg:grid-cols-3 lg:gap-5">
    <article
      class="bg-[#FAFAFA] py-8 lg:py-10 px-6 mb-6 rounded-lg md:flex md:gap-28 md:mb-4 lg:flex-col lg:h-[605px] cursor-pointer"
    >
      <img
        class="w-full md:w-[265px] lg:w-full"
        src="../assets/images/img-card-1.png"
        alt="img-1"
      />
      <div class="max-w-[600px] m-auto">
        <h2
          class="mt-6 mb-2 lg:mb-4 text-xl md:text-2xl lg:text-[28px] font-BinancePlexSemiBold text-primary"
        >
          Sumérgete en el mundo de los NFT
        </h2>
        <p class="text-sm md:text-base font-BinancePlexRegular">
          Abre cajas misteriosas, descubre los proyectos de IGO, Fan Tokens y
          mucho más en Binance NFT.
        </p>
        <span
          class="hidden md:block lg:hidden mt-4 text-sm md:text-base font-BinancePlexMedium text-[#c99400]"
          >Más información</span
        >
      </div>
    </article>

    <article
      class="bg-[#FAFAFA] py-8 px-6 lg:py-10 mb-6 rounded-lg md:flex md:gap-28 md:mb-4 lg:flex-col lg:h-[605px] cursor-pointer"
    >
      <div>
        <h2
          class="mb-2 lg:mb-4 text-xl md:text-2xl lg:text-[28px] font-BinancePlexSemiBold text-primary"
        >
          Hacer crecer tu negocio con Binance Pay
        </h2>
        <p class="text-sm md:text-base font-BinancePlexRegular">
          Con nuestra tecnología de pagos sin fronteras, podrás llegar a más
          clientes efectuando y recibiendo pagos en criptomonedas en Binance Pay
          y en el mercado de Binance.
        </p>
        <span
          class="hidden md:block lg:hidden mt-4 text-sm md:text-base font-BinancePlexMedium text-[#c99400]"
          >Más información</span
        >
      </div>
      <img
        class="w-full md:w-[265px] md:object-contain lg:w-full"
        src="../assets/images/img-card-2.png"
        alt="img-2"
      />
    </article>

    <article
      class="bg-[#FAFAFA] py-8 lg:py-10 px-6 mb-11 rounded-lg md:flex md:gap-28 md:mb-4 lg:flex-col lg:h-[605px] cursor-pointer"
    >
      <img
        class="w-full md:w-[265px] lg:w-full"
        src="../assets/images/img-card-3.png"
        alt="img-3"
      />
      <div class="max-w-[320px] m-auto">
        <h2
          class="mt-6 mb-2 lg:mb-4 text-xl md:text-2xl lg:text-[28px] font-BinancePlexSemiBold text-primary"
        >
          Binance Earn
        </h2>
        <p class="text-sm md:text-base font-BinancePlexRegular">
          Gana intereses por bloquear tus criptomonedas.
        </p>
        <span
          class="hidden md:block lg:hidden mt-4 text-sm md:text-base font-BinancePlexMedium text-[#c99400]"
          >Más información</span
        >
      </div>
    </article>
  </div>
  <button class="btn-primary-200 text-base mt-5 md:mt-8">Explore Now</button>
</section>
