<section class="px-4 pb-10 lg:py-16 lg:px-10 xl:px-6 max-w-7xl w-full m-auto">
  <div
    class="bg-lightprimary rounded-2xl py-6 px-4 md:flex md:items-center md:gap-4 lg:gap-0 lg:p-10"
  >
    <img
      class="w-60 m-auto lg:w-64"
      src="../assets/images/coin.png"
      alt="person-money"
    />
    <div class="md:w-[60%]">
      <h2
        class="my-4 text-2xl text-primary font-BinancePlexSemiBold md:text-[28px] md:mt-0 lg:text-[32px]"
      >
        Trade Bitcoin for Free
      </h2>
      <p class="mb-4 text-primary font-BinancePlexRegular md:text-base">
        0 trading fee on selected Bitcoin (BTC) spot trading pairs now
      </p>
      <p class="mb-4 text-primary font-BinancePlexRegular md:text-base">
        Lowest transactions fees < 0.109% >
      </p>
      <button
        class="w-full md:w-[240px] flex justify-center items-center gap-2 font-BinancePlexSemiBold text-base mt-4 px-6 py-3 lg:mt-6 bg-primary hover:opacity-[0.9] text-secondary rounded"
      >
        <span>Buy BTC for 0 Fee</span>
      </button>
    </div>
  </div>
</section>
