<footer class="font-BinancePlexSemiBold text-primary px-4 my-6">
  <div class="py-6 mb-6 min-[1023px]:flex min-[1023px]:gap-3 justify-center max-w-[1200px] m-auto">
    <div class="min-[767px]:grid min-[767px]:grid-cols-4 min-[1023px]:gap-5 lg:flex">
      <div class="lg:w-1/4">
        <div class="flex justify-between items-center py-2 lg:py-4 cursor-pointer">
          <h4 class="text-base md:text-xl">Sobre Nosotros</h4>
          <i
            [ngClass]="
              closed_1
                ? 'fa-solid fa-minus text-lg min-[767px]:hidden'
                : 'fa-solid fa-plus text-lg min-[767px]:hidden'
            "
            (click)="closed_1 = !closed_1"
          ></i>
        </div>
        <ul
          [ngClass]="
            closed_1
              ? 'text-gray text-sm font-BinancePlexRegular h-fit transition-transform duration-300'
              : 'text-gray text-sm font-BinancePlexRegular max-h-0 overflow-hidden min-[767px]:max-h-full min-[767px]:overflow-auto'
          "
        >
          <li class="mb-2">Acerca</li>
          <li class="mb-2">Trabajos</li>
          <li class="mb-2">Contactos profesionales</li>
          <li class="mb-2">Comunidad</li>
          <li class="mb-2">Blog de Binance</li>
          <li class="mb-2">Legal</li>
          <li class="mb-2">Términos</li>
          <li class="mb-2">Privacidad</li>
          <li class="mb-2">Advertencia sobre riesgo</li>
          <li class="mb-2">Anuncios</li>
          <li class="mb-2">Noticias</li>
          <li class="mb-2">Notices</li>
          <li class="mb-2">Mapa del sitio</li>
          <li class="mb-2">Preferencias de cookies</li>
        </ul>
      </div>

      <div>
        <div class="flex justify-between items-center py-2 lg:py-4">
          <h4 class="text-base md:text-xl">Productos</h4>
          <i
            [ngClass]="
              closed_2
                ? 'fa-solid fa-minus text-lg min-[767px]:hidden'
                : 'fa-solid fa-plus text-lg min-[767px]:hidden'
            "
            (click)="closed_2 = !closed_2"
          ></i>
        </div>
        <ul
          [ngClass]="
            closed_2
              ? 'text-gray text-sm font-BinancePlexRegular h-fit transition-transform duration-300'
              : 'text-gray text-sm font-BinancePlexRegular max-h-0 overflow-hidden min-[767px]:max-h-full min-[767px]:overflow-auto'
          "
        >
          <li class="mb-2">Exchange</li>
          <li class="mb-2">Academy</li>
          <li class="mb-2">Binance Live</li>
          <li class="mb-2">Charity</li>
          <li class="mb-2">Card</li>
          <li class="mb-2">Labs</li>
          <li class="mb-2">Launchpad</li>
          <li class="mb-2">Research</li>
          <li class="mb-2">Trust Wallet</li>
          <li class="mb-2">NFT</li>
          <li class="mb-2">Binance Play</li>
          <li class="mb-2">Tarjeta regalo de Binance</li>
          <li class="mb-2">BABT</li>
        </ul>
      </div>

      <div>
        <div class="flex justify-between items-center py-2 lg:py-4">
          <h4 class="text-base md:text-xl">Servicios</h4>
          <i
            [ngClass]="
              closed_3
                ? 'fa-solid fa-minus text-lg min-[767px]:hidden'
                : 'fa-solid fa-plus text-lg min-[767px]:hidden'
            "
            (click)="closed_3 = !closed_3"
          ></i>
        </div>
        <ul
          [ngClass]="
            closed_3
              ? 'text-gray text-sm font-BinancePlexRegular h-fit transition-transform duration-300'
              : 'text-gray text-sm font-BinancePlexRegular max-h-0 overflow-hidden min-[767px]:max-h-full min-[767px]:overflow-auto'
          "
        >
          <li class="mb-2">Descargar</li>
          <li class="mb-2">Aplicación de escritorio</li>
          <li class="mb-2">Comprar criptos</li>
          <li class="mb-2">Servicios VIP e instituciones</li>
          <li class="mb-2">Trading OTC</li>
          <li class="mb-2">Programa de referidos</li>
          <li class="mb-2">Affiliate</li>
          <li class="mb-2">BNB</li>
          <li class="mb-2">Solicitud de listado</li>
          <li class="mb-2">Solicitud comercial P2P</li>
          <li class="mb-2">Aplicación para comerciantes P2Pro</li>
          <li class="mb-2">Datos de mercado históricos</li>
          <li class="mb-2">Comprobante de garantía de B-tokens</li>
        </ul>
      </div>

      <div class="min-[1023px]:grid min-[1023px]:grid-cols-2 md:ml-5 lg:flex lg:ml-0 lg:gap-5">
        <div>
          <div class="flex justify-between items-center py-2 lg:py-4">
            <h4 class="text-base md:text-xl">Soporte</h4>
            <i
              [ngClass]="
                closed_4
                  ? 'fa-solid fa-minus text-lg min-[767px]:hidden'
                  : 'fa-solid fa-plus text-lg min-[767px]:hidden'
              "
              (click)="closed_4 = !closed_4"
            ></i>
          </div>
          <ul
            [ngClass]="
              closed_4
                ? 'text-gray text-sm font-BinancePlexRegular h-fit transition-transform duration-300'
                : 'text-gray text-sm font-BinancePlexRegular max-h-0 overflow-hidden min-[767px]:max-h-full min-[767px]:overflow-auto'
            "
          >
            <li class="mb-2">Danos tu opinión</li>
            <li class="mb-2">Centro de Ayuda</li>
            <li class="mb-2">Soporte de Binance</li>
            <li class="mb-2">Reglas de trading</li>
            <li class="mb-2">Verificación de Binance</li>
            <li class="mb-2">Solicitudes de autoridades policiales</li>
            <li class="mb-2">Binance Legal (resoluciones judiciales)</li>
            <li class="mb-2">Portal Airdrop de Binance</li>
          </ul>
        </div>

        <div>
          <div class="flex justify-between items-center py-2 lg:py-4">
            <h4 class="text-base md:text-xl">Conocer más</h4>
            <i
              [ngClass]="
                closed_5
                  ? 'fa-solid fa-minus text-lg min-[767px]:hidden'
                  : 'fa-solid fa-plus text-lg min-[767px]:hidden'
              "
              (click)="closed_5 = !closed_5"
            ></i>
          </div>
          <ul
            [ngClass]="
              closed_5
                ? 'text-gray text-sm font-BinancePlexRegular h-fit transition-transform duration-300'
                : 'text-gray text-sm font-BinancePlexRegular max-h-0 overflow-hidden min-[767px]:max-h-full min-[767px]:overflow-auto'
            "
          >
            <li class="mb-2">Aprende y gana</li>
            <li class="mb-2">Consultar precios de criptomonedas</li>
            <li class="mb-2">Precio de Bitcoin</li>
            <li class="mb-2">Precio de Ethereum</li>
            <li class="mb-2">Comprar BNB</li>
            <li class="mb-2">Comprar BUSD</li>
            <li class="mb-2">Comprar Bitcoin</li>
            <li class="mb-2">Comprar Ethereum</li>
            <li class="mb-2">Comprar Dogecoin</li>
            <li class="mb-2">Comprar XRP</li>
            <li class="mb-2">Comprar Altcoins para operar</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="lg:w-1/4">
      <div class="pt-2 pb-3 lg:py-4">
        <h4 class="text-base md:text-xl">Community</h4>
      </div>
      <div
        class="grid grid-cols-5 min-[356px]:grid-cols-6 min-[410px]:grid-cols-7 min-[463px]:grid-cols-8 min-[517px]:grid-cols-9 min-[571px]:grid-cols-10 min-[1023px]:grid-cols-3 min-[1140px]:grid-cols-4 items-center text-lg text-gray text-start gap-4 w-full min-[571px]:w-11/12 min-[640px]:w-10/12"
      >
        <i class="fa-brands fa-discord"></i>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-reddit text-xl"></i>
        <i class="fa-brands fa-instagram text-xl"></i>
        <svg
          viewBox="0 0 76.52 77.67"
          width="20px"
          height="20px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m66.54 46.41a4.09 4.09 0 0 1 -4.17.28c-1.54-.87-2.37-2.91-2.37-5.69v-8.52c0-4.09-1.62-7-4.33-7.79-4.58-1.34-8 4.27-9.32 6.38l-8.1 13.11v-16c-.09-3.69-1.29-5.9-3.56-6.56-1.5-.44-3.75-.26-5.94 3.08l-18.11 29.07a32 32 0 0 1 -3.64-14.94c0-17.52 14-31.77 31.25-31.77s31.3 14.25 31.3 31.77v.09s0 .06 0 .09c.17 3.39-.93 6.09-3 7.4zm10-7.57v-.17c-.14-21.35-17.26-38.67-38.29-38.67s-38.25 17.42-38.25 38.83 17.16 38.84 38.25 38.84a37.81 37.81 0 0 0 26-10.36 3.56 3.56 0 0 0 .18-5 3.43 3.43 0 0 0 -4.86-.23 30.93 30.93 0 0 1 -44.57-2.08l16.3-26.2v12.09c0 5.81 2.25 7.69 4.14 8.24s4.78.17 7.81-4.75l9-14.57c.28-.47.55-.87.79-1.22v7.41c0 5.43 2.18 9.77 6 11.91a11 11 0 0 0 11.21-.45c4.2-2.73 6.49-7.67 6.25-13.62z"
            fill="#707A8A"
          />
        </svg>
        <i class="fa-brands fa-vk"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="w-full h-px bg-tertiary"></div>
  <span class="block w-full text-center text-lightgray text-sm px-4 py-6"
    >Binance © 2022</span
  >
</footer>
