<section
  class="px-4 py-10 md:px-6 md:py-16 lg:py-20 lg:px-10 xl:px-0 max-w-7xl w-full m-auto"
>
  <div class="lg:px-6">
    <h2
      class="text-2xl md:text-[32px] lg:text-[40px] text-primary font-BinancePlexSemiBold"
    >
      Earn daily rewards on your idle tokens
    </h2>
    <p
      class="text-sm md:text-[20px] text-primary mt-2 mb-8 md:mt-5 md:mb-12 lg:mb-16 lg:mt-6"
    >
      Simple y seguro. Busca monedas conocidas y empieza a obtener ganancias.
    </p>

    <div
      class="grid grid-cols-2 gap-5 min-[500px]:gap-x-7 lg:gap-7 mt-8 pb-4 md:grid-cols-3 lg:grid-cols-4"
    >
      <div
        class="card-token cursor-pointer rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          0.60%-101.89%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#26a17b]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >USDT</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary hidden md:flex items-center arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="card-token cursor-pointer rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          0.64%-32.49%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#f6921a]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >BTC</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary hidden md:flex items-center arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="card-token cursor-pointer rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          0.35%-71.85%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#f0b90b]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >BNB</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary hidden md:flex items-center arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="card-token cursor-pointer rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          0.59%-101.89%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >BUSD</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary hidden md:flex items-center arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="card-token cursor-pointer rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          0.92%-111.63%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#687ee3]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >ETH</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary hidden md:flex items-center arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="card-token cursor-pointer rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          1.58%-39.39%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#e6007a]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >DOT</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary hidden md:flex items-center arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="card-token cursor-pointer hidden lg:block rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          0.92%-111.63%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#0033ad]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >ETH</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary items-center hidden md:flex arrow-container"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="card-token cursor-pointer hidden lg:block rounded-2xl bg-semiwhite hover:bg-white hover:border-2 hover:border-[#fcd535] hover:md:py-[22px] hover:md:px-[14px] py-4 px-3 md:py-6 md:px-4"
      >
        <span class="text-primary text-base">APR</span>
        <h3
          class="text-lg min-[500px]:text-xl md:text-2xl text-green font-BinancePlexSemiBold"
        >
          1.58%-39.39%
        </h3>
        <div class="mt-6 flex items-center gap-2 md:justify-between">
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-elementor text-3xl text-[#e92d13]"></i>
            <span class="text-base text-primary font-BinancePlexSemiBold"
              >DOT</span
            >
          </div>
          <div
            class="rounded-full bg-tertiary items-center hidden md:flex arrow-container "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#B7BDC6"
              width="29px"
              height="29px"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="#B7BDC6"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <button
      class="btn-primary-200"
    >
      <span>Empezar a ganar</span>
    </button>
  </div>
</section>
