<section class="bg-[#FAFAFA]">
  <div class="bg-white rounded-3xl">
    <div
      class="pb-6 xl:py-10 max-w-7xl w-full m-auto overflow-hidden rounded-3xl"
    >
      <input type="radio" name="dot" id="one" />
      <input type="radio" name="dot" id="two" />
      <div class="pb-6 w-full cards-container">
        <div class="cards">
          <div class="card max-w-7xl mx-5 w-full h-60 lg:h-[300px]">
            <div class="img w-full h-hull">
              <img
                class="bloc rounded-xl w-full h-60 lg:h-[300px]"
                src="../assets/images/NFT-Binance-Academy.png"
                alt="image-slider"
              />
            </div>
          </div>
          <div class="card max-w-7xl mx-5 w-full h-60 lg:h-[300px]">
            <div class="img w-full h-60">
              <img
                class="rounded-xl w-full md:w-full h-60 lg:h-[300px]"
                src="../assets/images/NFT-Binance-Academy.png"
                alt="image-slider"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="slider-button cursor-pointer">
        <label for="one" class="one active cursor-pointer"></label>
        <label for="two" class="two cursor-pointer"></label>
      </div>
    </div>
  </div>
</section>
