<app-header></app-header>

<main class="overflow-hidden">
  <app-banner></app-banner>

  <app-slider></app-slider>

  <app-table-ccurrency></app-table-ccurrency>

  <app-card-trade></app-card-trade>

  <app-card-mobile></app-card-mobile>

  <app-grid-tokens></app-grid-tokens>
</main>

<section class="bg-[#FAFAFA] py-10 px-4 my-10 md:py-16">
  <h1 class="font-BinancePlexSemiBold text-2xl text-center md:text-[40px]">Únete a más de 90 millones de personas</h1>
  <button class="btn-primary-200 text-base md:mt-10 md:mx-auto">Regístrate ahora</button>
</section>

<app-footer></app-footer>
