<section
  class="px-4 md:px-6 py-10 lg:grid lg:grid-cols-2 lg:gap-3 lg:py-20 max-w-7xl w-full m-auto"
>
  <div>
    <h2
      class="text-2xl text-primary font-BinancePlexSemiBold md:text-[32px] lg:text-[40px] lg:leading-[48px]"
    >
      Crea tu cartera de criptomonedas
    </h2>
    <p
      class="text-sm md:text-[20px] text-primary mt-2 mb-8 md:mt-4 md:mb-16 lg:mb-20"
    >
      Haz tu primera operación siguiendo estos sencillos pasos:
    </p>
    <img
      class="w-60 mx-auto mb-10 lg:hidden"
      src="../assets/images/BINANCE-US-1.png"
      alt="mobile-image"
    />

    <div>
      <h3
        class="text-xl mb-2 md:text-2xl font-BinancePlexMedium md:font-BinancePlexSemiBold text-primary"
      >
        Verifica tu identidad
      </h3>
      <p
        class="text-sm md:text-base font-BinancePlexMedium text-tertiary mt-2 mb-8"
      >
        Completa el proceso de verificación de identidad para proteger tu cuenta
        y tus transacciones.
      </p>
    </div>
    <div>
      <h3
        class="text-xl mb-2 md:text-2xl font-BinancePlexMedium md:font-BinancePlexSemiBold text-primary"
      >
        Deposita fondos en tu cuenta
      </h3>
      <p
        class="text-sm md:text-base font-BinancePlexMedium text-tertiary mt-2 mb-8"
      >
        Añade fondos a tu cuenta de criptomonedas para comenzar a operar. Puedes
        añadir fondos a través de distintos métodos de pago.
      </p>
    </div>
    <div>
      <h3
        class="text-xl mb-2 md:text-2xl font-BinancePlexMedium md:font-BinancePlexSemiBold text-primary"
      >
        Empieza a operar
      </h3>
      <p
        class="text-sm md:text-base font-BinancePlexMedium text-tertiary mt-2 mb-8"
      >
        ¡Ya lo tienes todo listo! Compra y vende criptomonedas, establece
        compras recurrentes para tus inversiones y descubre todos los productos
        de Binance.
      </p>
    </div>
    <button
    class="btn-primary-200 mt-16"
    >
      <span>Empezar</span>
    </button>
  </div>
  <img
    class="hidden lg:block lg:w-[335px] lg:mx-auto"
    src="../assets/images/BINANCE-US-1.png"
    alt="mobile-image"
  />
</section>
