<section class="bg-[#FAFAFA]">
  <div
    class="max-w-7xl lg:m-auto lg:pt-20 px-4 py-6 md:pt-10 md:px-6 overflow-hidden"
  >
    <div
      class="lg:flex lg:flex-row-reverse lg:items-baseline lg:justify-center xl:justify-between xl:items-start lg:gap-3"
    >
      <img
        class="w-2/3 max-w-[534px] lg:w-2/6 xl:w-1/2 m-auto xl:m-0 hidden md:block"
        src="../assets/images/monkey.png"
        alt="banner"
      />
      <div>
        <h1
          class="font-BinancePlexSemiBold text-[32px] md:text-[40px] md:pt-12 lg:pt-5 xl:pt-0 lg:w-[560px] text-primary leading-[48px]"
        >
          Compra, haz trading y holdea más de 350 criptomonedas en Binance
        </h1>
        <div class="mt-8 xl:mt-12">
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="26px"
              height="26px"
              class="svg-primary mr-2 w-6 text-warn"
            >
              <path
                d="M13.5 6.379V3h-3v3.379l-2.94-2.94-2.12 2.122L7.878 8H4v3h6.75V8h2.5v3H20V8h-3.879l2.44-2.44-2.122-2.12L13.5 6.378zM4 13.5V20h6.75v-6.5H4zM13.25 20H20v-6.5h-6.75V20z"
                fill="currentColor"
              ></path>
            </svg>
            <div class="flex items-center">
              <span class="text-sm md:text-xl text-gray"
                >Trade Bitcoin for free</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#707A8A"
                class="md:mt-1"
                width="24px"
                height="24px"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                  fill="#707A8A"
                ></path>
              </svg>
            </div>
          </div>
          <button
            class="w-full lg:w-96 flex justify-center items-center gap-2 font-BinancePlexSemiBold text-sm min-[420px]:text-base mt-4 px-6 py-3 bg-primary hover:opacity-[0.9] text-secondary rounded"
          >
            <i class="fa-solid fa-user"></i>
            <span>Registro con correo electrónico/teléfono</span>
          </button>

          <div
            class="my-4 lg:w-96 grid grid-cols-[1fr_160px_1fr] items-center text-center"
          >
            <div class="w-full h-px bg-tertiary"></div>
            <span class="text-base font-BinancePlexSemiBold text-gray"
              >o continúa con</span
            >
            <div class="w-full h-px bg-tertiary"></div>
          </div>
          <div class="grid grid-cols-2 gap-6 lg:w-96">
            <button
              class="h-12 flex justify-center items-center gap-2 bg-tertiary rounded"
            >
              <img
                class="w-4"
                src="../assets/images/logo-google.png"
                alt="google-logo"
              />
              <span class="font-BinancePlexSemiBold text-primary text-base"
                >Google</span
              >
            </button>
            <button
              class="h-12 flex justify-center items-center gap-2 bg-tertiary rounded"
            >
              <img
                class="w-4"
                src="../assets/images/apple-logo.png"
                alt="apple-logo"
              />
              <span class="font-BinancePlexSemiBold text-primary text-base"
                >Apple</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="py-6 md:py-14 lg:py-20 grid grid-cols-2 md:grid-cols-4">
      <div class="py-4 md:py-6 px-2">
        <h3
          class="text-2xl md:text-[40px] font-BinancePlexSemiBold md:leading-[48px]"
        >
          $38 billon
        </h3>
        <p class="text-xs md:text-base md:mt-1 text-gray">
          de volumen de trading en 24 h en el exchange de Binance
        </p>
      </div>
      <div class="py-4 md:py-6 px-2">
        <h3
          class="text-2xl md:text-[40px] font-BinancePlexSemiBold md:leading-[48px]"
        >
          350+
        </h3>
        <p class="text-xs md:text-base md:mt-1 text-gray">
          criptomonedas disponibles
        </p>
      </div>
      <div class="py-4 md:py-6 px-2">
        <h3
          class="text-2xl md:text-[40px] font-BinancePlexSemiBold md:leading-[48px]"
        >
          120 millon
        </h3>
        <p class="text-xs md:text-base md:mt-1 text-gray">Registred users</p>
      </div>
      <div class="py-4 md:py-6 px-2">
        <h3
          class="text-2xl md:text-[40px] font-BinancePlexSemiBold md:leading-[48px]"
        >
          Menos del 0,10 %,
        </h3>
        <p class="text-xs md:text-base md:mt-1 text-gray">
          las comisiones de transacción más bajas
        </p>
      </div>
    </div>
  </div>
</section>
